Repository IAmJonoBo/Chiron: changes, and which pre-commit hooks are due for each by the changed paths.
All: block-apple-metadata, pytest, sbom-check

block-apple-metadata:
  name: Prevent Apple metadata artifacts
  entry: python3 scripts/check_apple_metadata.py
  language: system
  pass_filenames: true
  stages:
  - pre-commit

pytest:
  name: pytest
  entry: uv run pytest
  language: system
  stages:
  - pre-push
  pass_filenames: false

sbom-check:
  name: Check SBOM freshness
  entry: 'bash -c ''if [ -f sbom.json ]; then echo "SBOM exists"; else echo "⚠️  SBOM missing - run: syft . -o cyclonedx-json=sbom.json"; fi'''
  language: system
  pass_filenames: false

chore: silence shellcheck warnings
  scripts/manage-deps.sh
Due: none

fix: update semgrep dependency version to 1.79.0
  pyproject.toml
Due: sbom-check

feat: Enhance wheelhouse generation and synchronization
  .github/workflows/airgap.yml
  .github/workflows/sync-env.yml
  IMPLEMENTATION_SUMMARY.md
  OFFLINE.md
  README.md
  TESTING_PROGRESS_SUMMARY.md
  TODO_IMPLEMENTATION_SUMMARY.md
  docs/ENVIRONMENT_SYNC.md
  docs/README.md
  docs/TUF_IMPLEMENTATION_GUIDE.md
  pyproject.toml
  scripts/sync_env_deps.py
  sitecustomize.py
  src/chiron/cli/main.py
  src/chiron/deps/bundler.py
  src/chiron/deps/reproducibility.py
  src/chiron/orchestration/coordinator.py
  tests/test_cli_main.py
  tests/test_observability_metrics.py
  tests/test_observability_tracing.py
  tests/test_schema_validator.py
  tests/test_telemetry.py
  tests/test_todo_implementations.py
Due: pytest, sbom-check

feat(cli): add GitHub Copilot agent helpers
  .github/workflows/airgap.yml
  .github/workflows/copilot-setup-steps.yml
  .github/workflows/quality-gates.yml
  .github/workflows/sync-env.yml
  DOCUMENTATION_CLEANUP_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  README.md
  TESTING_PROGRESS_SUMMARY.md
  docs/DEPS_MODULES_STATUS.md
  docs/QUALITY_GATES.md
  docs/README.md
  docs/deprecated/QUALITY_GATES_IMPLEMENTATION_SUMMARY.md
  docs/deprecated/README.md
  pyproject.toml
  scripts/preflight_deps.py
  scripts/sync_env_deps.py
  sitecustomize.py
  src/chiron/cli/main.py
  src/chiron/github/__init__.py
  src/chiron/github/copilot.py
  src/chiron/github/sync.py
  src/chiron/service/routes/api.py
  src/chiron/typer_cli.py
  tests/test_cli_github_copilot.py
  tests/test_deps_modules.py
  tests/test_observability_logging.py
  tests/test_observability_metrics.py
  tests/test_observability_tracing.py
  tests/test_subprocess_utils.py
  tests/test_todo_implementations.py
Due: pytest, sbom-check

feat: harden copilot runner readiness
  .github/workflows/copilot-setup-steps.yml
  IMPLEMENTATION_COMPLETION_SUMMARY.md
  github/__init__.py
  sitecustomize.py
  src/chiron/github/copilot.py
  tests/test_deps_modules.py
  tests/test_github_copilot_module.py
  tests/test_service_routes.py
  tests/test_sitecustomize.py
Due: pytest

Update implementation and testing documentation for January 2026 progress
  IMPLEMENTATION_SUMMARY.md
  MCP_IMPLEMENTATION_COMPLETION.md
  TESTING_PROGRESS_SUMMARY.md
  docs/DEPS_MODULES_STATUS.md
  src/chiron/cli/main.py
  src/chiron/mcp/server.py
  src/chiron/typer_cli.py
  tests/test_cli_main.py
  tests/test_service_routes.py
  tests/test_sitecustomize.py
  validate_mcp.py
Due: pytest

Add dependency groups for development and testing
  pyproject.toml
Due: sbom-check

Enhance macOS filesystem hygiene with pre-commit hook for cleanup of Finder artifacts
  .gitignore
  .pre-commit-config.yaml
  README.md
Due: none

Refactor test files for improved readability and consistency
  COVERAGE_IMPLEMENTATION_SUMMARY.md
  DOCUMENTATION_UPDATE_SUMMARY.md
  GAP_ANALYSIS_COMPLETION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  TESTING_PROGRESS_SUMMARY.md
  docs/MODULE_BOUNDARY_TESTING.md
  src/chiron/wizard.py
  tests/test_cli_error_paths.py
  tests/test_deps_drift_status.py
  tests/test_deps_graph.py
  tests/test_deps_security_overlay.py
  tests/test_deps_supply_chain.py
  tests/test_deps_verify.py
  tests/test_doctor_modules.py
  tests/test_orchestration_coordinator.py
  tests/test_tools_remediation_boundary.py
  tests/test_wizard.py
Due: pytest

Refactor data structures in SecurityOverlayManager and improve exception handling in ChironError; enhance reproducibility tests and update dependencies in uv.lock
  pyproject.toml
  src/chiron/deps/security_overlay.py
  src/chiron/exceptions.py
  src/chiron/remediation/runtime.py
  src/chiron/reproducibility.py
  src/chiron/schema_validator.py
  tests/test_deps_guard.py
  tests/test_deps_signing.py
  tests/test_todo_implementations.py
  uv.lock
Due: pytest, sbom-check

Refactor various components for improved error handling and code clarity; update CLI documentation and consolidate Typer CLI as primary interface.
  .github/workflows/airgap.yml
  CLI_CONSOLIDATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
  src/chiron/deps/drift.py
  src/chiron/deps/oci_packaging.py
  src/chiron/deps/planner.py
  src/chiron/deps/private_mirror.py
  src/chiron/deps/reproducibility.py
  src/chiron/deps/safe_upgrade.py
  src/chiron/orchestration/governance.py
  src/chiron/plugins.py
  src/chiron/tools/format_yaml.py
  src/chiron/typer_cli.py
  tests/test_github_copilot_module.py
  tests/test_wizard.py
Due: pytest

Refactor type hints and error handling across multiple modules for improved clarity and robustness
  src/chiron/core.py
  src/chiron/deps/drift.py
  src/chiron/deps/guard.py
  src/chiron/deps/mirror_manager.py
  src/chiron/mcp/server.py
  src/chiron/orchestration/auto_sync.py
  src/chiron/orchestration/coordinator.py
  src/chiron/service/middleware.py
  src/chiron/service/routes/health.py
  src/chiron/subprocess_utils.py
Due: pytest

Refactor error handling and type checks in various modules for improved robustness and clarity
  IMPLEMENTATION_SUMMARY.md
  src/chiron/deps/constraints.py
  src/chiron/deps/preflight.py
  src/chiron/deps/status.py
  src/chiron/mcp/server.py
  src/chiron/remediation/__init__.py
  src/chiron/service/routes/api.py
  src/chiron/typer_cli.py
Due: pytest

Refactor module priority listing and update documentation section for clarity
  docs/DEPS_MODULES_STATUS.md
  src/chiron/remediation/__init__.py
  src/chiron/typer_cli.py
Due: pytest

feat: integrate OPA policy enforcement and dependency management tools
  .github/workflows/ci.yml
  .github/workflows/quality-gates.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  policy/.conftestignore
  policy/README.md
  policy/policies/dependencies.rego
  policy/policies/workflows.rego
  pyproject.toml
  scripts/build_opa_bundle.sh
  scripts/install_conftest.sh
  scripts/policy_context.py
  scripts/run_policy_checks.sh
  src/chiron/service/routes/health.py
  src/chiron/typer_cli.py
  uv.lock
Due: pytest, sbom-check

docs: update roadmap with tooling opportunities and near-term upgrades for CI and testing enhancements
  ROADMAP.md
Due: none

Potential fix for code scanning alert no. 23: Unused import
  tests/test_service_middleware.py
Due: pytest

feat: add contracts gate to quality suite
  Next Steps.md
  README.md
  docs/QUALITY_GATES.md
  sitecustomize.py
  src/chiron/cli/main.py
  src/chiron/deps/supply_chain.py
  src/chiron/deps/verify.py
  src/chiron/dev_toolbox.py
  src/chiron/hardening.py
  src/chiron/planning.py
  src/chiron/typer_cli.py
  tests/conftest.py
  tests/test_cli_github_copilot.py
  tests/test_cli_hardening.py
  tests/test_cli_main.py
  tests/test_cli_tools_benchmark.py
  tests/test_contracts.py
  tests/test_deps_supply_chain.py
  tests/test_deps_verify.py
  tests/test_dev_toolbox.py
  tests/test_hardening.py
  tests/test_mcp_server.py
  tests/test_service_app_runtime.py
  tests/test_typer_cli_tools.py
Due: pytest

feat: enrich refactor heuristics and cli controls
  Next Steps.md
  README.md
  docs/CI_REPRODUCIBILITY_VALIDATION.md
  docs/DEPS_MODULES_STATUS.md
  docs/ENVIRONMENT_SYNC.md
  docs/GAP_ANALYSIS.md
  docs/GRAFANA_DEPLOYMENT_GUIDE.md
  docs/MCP_INTEGRATION_TESTING.md
  docs/MODULE_BOUNDARY_TESTING.md
  docs/OBSERVABILITY_SANDBOX.md
  docs/QUALITY_GATES.md
  docs/README.md
  docs/TOOLING_IMPLEMENTATION_STATUS.md
  docs/TUF_IMPLEMENTATION_GUIDE.md
  docs/diataxis.json
  docs/index.md
  docs/tutorials/first-run.md
  mkdocs.yml
  src/chiron/dev_toolbox.py
  src/chiron/typer_cli.py
  tests/test_contracts.py
  tests/test_dev_toolbox.py
  tests/test_typer_cli_tools.py
Due: pytest

Revise Next Steps document with updated tasks and formatting
  Next Steps.md
Due: none

Revise Next Steps.md by removing initial content
  Next Steps.md
Due: none

Add initial project files and configuration for TypeScript and Python codemods
  refactor-starter-ts-py.zip
Due: none

Enhance Next Steps with refactoring toolkit details
  Next Steps.md
Due: none

Clean up Next Steps.md by removing unnecessary details
  Next Steps.md
Due: none

Delete DOCUMENTATION_CLEANUP_SUMMARY.md
  DOCUMENTATION_CLEANUP_SUMMARY.md
Due: none

Delete CLI_CONSOLIDATION_SUMMARY.md
  CLI_CONSOLIDATION_SUMMARY.md
Due: none

Delete COMPREHENSIVE_IMPLEMENTATION_SUMMARY.md
  COMPREHENSIVE_IMPLEMENTATION_SUMMARY.md
Due: none

Delete COVERAGE_IMPLEMENTATION_SUMMARY.md
  COVERAGE_IMPLEMENTATION_SUMMARY.md
Due: none

Delete DOCUMENTATION_UPDATE_SUMMARY.md
  DOCUMENTATION_UPDATE_SUMMARY.md
Due: none

Delete FINAL_SUMMARY.md
  FINAL_SUMMARY.md
Due: none

Delete GAP_ANALYSIS_COMPLETION_SUMMARY.md
  GAP_ANALYSIS_COMPLETION_SUMMARY.md
Due: none

Delete IMPLEMENTATION_COMPLETE.md
  IMPLEMENTATION_COMPLETE.md
Due: none

Delete IMPLEMENTATION_COMPLETION_SUMMARY.md
  IMPLEMENTATION_COMPLETION_SUMMARY.md
Due: none

Delete IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none

Rename Next Steps.md to Next_Steps.md
  Next_Steps.md
Due: none

Delete MCP_IMPLEMENTATION_COMPLETION.md
  MCP_IMPLEMENTATION_COMPLETION.md
Due: none

Delete ROADMAP_CLEANUP_SUMMARY.md
  ROADMAP_CLEANUP_SUMMARY.md
Due: none

Delete REFACTORING_IMPLEMENTATION.md
  REFACTORING_IMPLEMENTATION.md
Due: none

Path conditions:
  block-apple-metadata: any of: (^|/)(\._[^/]+|\.DS_Store|\.AppleDouble)(/|$)|(^|/)\.(Spotlight-V100|Trashes)(/|$)
  pytest: any of: \.py$
  sbom-check: any of: pyproject.toml
